<nav class="mb-4">
  <ul class="nav float-left" >
    <li>
      <a class="btn mr-1" routerLink="/" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Strona główna</a>
    </li>
    <li>
      <a class="btn mr-1" routerLink="/movies" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Filmy</a>
    </li>
    <li>
      <a class="btn mr-1" routerLink="/contact" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Kontakt</a>
    </li>
  </ul>
  <ul *ngIf="!isLoggedUser" class="nav float-right">
    <li>
      <a class="btn mr-1" routerLink="/user/register" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Rejestracja</a>
    </li>
    <li>
      <a class="btn mr-1" routerLink="/user/login" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Logowanie</a>
    </li>
  </ul>

  <ul *ngIf="isLoggedUser"  class="nav float-right">
    <li>
      {{loggerUserName}}
    </li>
    <li>
      <a routerLink="/user/logout"> Wyloguj</a>
    </li>
  </ul>
  <div class="clearfix"></div>
</nav>