<nav>
  <ul class="nav">
    <li>
      <a class="btn mr-1" routerLink="/" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Strona główna</a>
    </li>
    <li>
      <a class="btn mr-1" routerLink="/movies" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Filmy</a>
    </li>
    <li>
      <a class="btn mr-1" routerLink="/contact" routerLinkActive="btn-primary"
        [routerLinkActiveOptions]="{ exact: true }">Kontakt</a>
    </li>
  </ul>
</nav>